@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<video id="my-video"
       class="video-js"
       controls
       preload="auto"
       width="640"
       height="264"
       poster="MY_VIDEO_POSTER.jpg"
       data-setup="{}">
    <source src="~/实时流数据.mp4" type="video/mp4" />
</video>
<script src="~/js/video.js"></script>